Source: shellsink
Section: utils
Priority: extra
Maintainer: Josh Cronemeyer <joshuacronemeyer@shellsink.com>
Build-Depends: python (>=2.4), debhelper (>= 5)
Standards-Version: 3.7.3

Package: shellsink
Architecture: any
Depends: python (>=2.4), ${shlibs:Depends}, ${misc:Depends}
Description: Client for logging bash history to shellsink.com
 Shellsink is a client for logging bash history to shellsink.com
